body{
	background: rgb(24,114,241);
background: linear-gradient(90deg, rgba(24,114,241,1) 0%, rgba(10,121,232,1) 36%, rgba(0,255,250,1) 78%);
}

*{
  font-family: 'Quicksand', sans-serif;
}

.head p {
	font-size: 74px;
}


.main{
  margin-top: 150px;
}


.button3 {
  background-color: white; 
  color: black; 
  border: 2px solid #00fffa;
  transition: 0.4s;
  height: 50px;
  width: 100px;
  border-radius: 40px;
  cursor: pointer;
}

.button3:hover {
  background-color: #00fffa;
  color: white;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.button3:focus{
  outline: none;
}
